@model DAW_Lab_4.Models.Article


<br />
<br />

<div class="panel panel-article">
    @Html.Partial("ArticleInfo", Model)

    @if (ViewBag.afisareButoane == true && ViewBag.utilizatorCurent == Model.UserId || ViewBag.esteAdmin)
    {
        <div class="panel-footer article-panel-footer around">
            <a class="btn btn-warning" href="/Articles/Edit/@Model.Id">Modifica articol</a>
            @using (Html.BeginForm("Delete", "Articles", new { id = Model.Id }, FormMethod.Post, new { @class = "pull-right" }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger" type="submit">Sterge articol</button>
            }
        </div>
    }
</div>


<br />
@foreach (var comment in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@comment.Content</p>
                    <small class="pull-right">@comment.Date</small>
                    <i class="glyphicon glyphicon-user"></i> scris de: <strong>@comment.User.UserName</strong>
                </div>

                @if (ViewBag.utilizatorCurent == comment.UserId || ViewBag.esteAdmin)
                {
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@comment.CommentId"></a>
                    </div>

                    <div style="display: inline-block; float : left">
                        <form method="post" action="/Comments/Delete/@comment.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                        </form>
                    </div>
                }
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <hr />
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="panel">
                <form method="post" action="/Articles/Show/@Model.Id">
                    <div class="panel-body">
                        <input type="hidden" name="ArticleId" value="@Model.Id" />
                        <label>Continut comentariu</label>
                        <br />
                        <textarea class="form-control" name="Content"></textarea>
                        @Html.ValidationMessage("Content", "", new { @class = "text-danger"})
                        <br />
                        <button class="btn btn-success " type="submit">Adauga comentariu</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>